.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
  }
  
  .blinking-text {
    font-size: 2rem;
    animation: blink 5s infinite;
    cursor: pointer;
    text-align: center;
  }
  
  .blinking-text.visible {
    opacity: 1 !important;
    animation: none;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  